
//===================================================================
#define APSTUDIO_READONLY_SYMBOLS
//===================================================================
200     PNG  "res/Body.png"
201     PNG  "res/Knob_Body.png"
202     PNG  "res/Knob_Points.png"
//===================================================================



